body {
    background:yellow;
    height:100%;
    font-family: Arial, sans-serif;
    position: absolute;
    width:100%;
}
.container {
    height:100%;
    overflow:hidden;
    position: absolute;
    width:100%;
}
main {
    background:white;
    top:0;
    height:100%;
    overflow:auto;
    position: absolute;
    transition:top 1s ease;
    width:100%;
    z-index:0;
}
section {
    margin:3em;
}
h1 {
    font-size:2.4em;
    margin:0 0 .5em;
}
h2 {
    font-size:1.8em;
    margin: 0 0 .5em;
}
p {
    max-width:39em;
    + p {
        margin-top: 1em;
    }
}