body {
    background: yellow;
    font-family: Arial, sans-serif;
    height: 100%;
    position: absolute;
    width: 100%;
}
.container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
main {
    background: white;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    transition: top 1s ease;
    width: 100%;
    z-index: 1;
}
section {
    margin: 3em;
}
h1 {
    font-size: 2.4em;
    margin: 0 0 .5em;
}
h2 {
    font-size: 1.8em;
    margin: 0 0 .5em;
}
p {
    max-width: 39em;
    + p {
        margin-top: 1em;
    }
}
